<h1>Vendor dashboard</h1>
<p>Welcome, userName goes here!</p>
<h2>Your products</h2>
{{!-- Show all products associated with this vendor, give option to update and delete products --}}
<h2>Add a new product</h2>
<p>Click <a href="/dashboard/create">here</a> to offer a new product for sale!</p>
