<h1>Add a product</h1>

<form method="post" action="/dashboard/create" enctype="multipart/form-data">
    
    <label for="name" class="label">Product Name: </label>
    <input class="input" type="text" id="name" name="name" value="Your product's name">

    <label for="category">Category: </label>
    <select name="category" id="category" class="input">
        <option value="Home & Living">Home & Living</option>
        <option value="Clothing & Shoes">Clothing & Shoes</option>
        <option value="Accessories">Accessories</option>
        <option value="Personal Care">Personal Care</option>
        <option value="Food & Beverage">Food & Beverage</option>
    </select>

    <label for="description" class="label">Description: </label>
    <textarea type="text" class="input" id="description" name="description" style="height: 100px">Please describe your product here.</textarea>

    <label for="photo" class="label">
      Upload a product photo
        <i class="icon fas fa-cloud-upload-alt fa-1x"></i>
    </label>
    <input class="is-hidden" type="file" id="photo" name="photo">

    <label for="price" class="label">Price in USD (including shipping): </label>
    <input type="number" id="price" name="price" min="1" max="1000" value="25">

    <label for="itemsRemaining" class="label">Current stock: </label>
    <input type="number" id="itemsRemaining" name="itemsRemaining" min="0" max="1000" value="10">

    <button class="btn">Create</button>
</form>