<br>
<h1>About Us</h1>

<div class="aUsContainer">

    <div>
<img src="/images/man_pottery.jpg" alt="Man making pottery" class="aUsPic1">
</div>

<div class="aUsText">
<h1>The Problem</h1>
<h3>Lack of a virtual space for Mexican artisans to sell their goods directly to consumers.</h3>
<br>
<p>Mexican artisans and local producers lack an online space adapted to their social and cultural context to sell their products in a fair and sustainable way.</p>
<br>
<p>Responsible consumers need a space that guarantees that their purchase directly benefits artisans and local producers, without middlemen.</p>
    </div>
    </div>

<div class="aUsContainer">

<div class="aUsText">
<h1>Our Solution</h1>
<h3>Nonprofit marketplace for artisanal Mexican products without middlemen.</h3>
<br>
<p>Fair trade platform with a social and cultural perspective, connecting and facilitating transactions between artisans and consumers committed to sustainable community development.</p>
    </div>
    <div>
<img src="/images/women_flowers.jpg" alt="Mexican artisans in front of church" class="aUsPic2">
</div>
</div>


<div class="aUsContainer">

    <div>
<img src="/images/logoArtetic.png" alt="ARTéTIC" class="aUsPic1">
    </div>

<div class="aUsText2">
<h1>Our Vision</h1>
<h3>To be a socially committed marketplace that directly connects responsible consumers with small, local, Mexican producers who have been left out of traditional economic circuits due to lack of infrastructure and/or socio-cultural factors.</h3>
<br>
<p>We want to bring these artisans' products to a wider market while promoting community development through diverse training programs (digital literacy, e-commerce, etc.). Our goal is to promote the development of sustainable and fair rural economies.</p>
<br>
<p>We believe that digital tools should empower communities to improve their quality of life. For this reason, our technology is built from the specific socio-cultural perspectives of rural Mexican communities, promoting a truly inclusive digital economy.</p>
</div>
</div>
