<div>
    <h1>Accessories - {{products.length}} items</h1>

    <div>
        {{#each products}}
        <div style="background: url('{{this.photo}}');">
            <a href="/artisan/{{this._id}}">
                {{this.name}}
            </a>
        </div>
    </div>
    {{/each}}
</div>