<h1>Contact Us</h1>

<h2>Thanks for your interest in ARTéTIC!</h2>

<img src="/images/woman_dolls.jpg" alt="Woman selling dolls" style="height: 150px">

<p>Please fill out the form below and we'll get back to you ASAP.</p>

<div>
  <form action="#" class="form">
    <div class="field-wrap">
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Your name">
    </div>

    <div class="field-wrap">
      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder="Your last name">
    </div>

    <div class="field-wrap">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="your@email.com">
    </div>

    <div class="field-wrap">
      <label for="subject">Subject</label>
      <select id="subject" name="subject">
        <option value="vendor">Vendor question</option>
        <option value="buyer">Buyer question</option>
        <option value="shipping">Shipping question</option>
        <option value="community">Community development</option>
        <option value="other">Other</option>
      </select>
    </div>


    <div class="field-wrap">
      <label for="comment">Comments</label>
      <textarea id="comment" name="comment" placeholder="Write something.." style="height:200px"></textarea>
    </div>

    <input class="button button-block" type="submit" value="Submit">

  </form>
</div>