{{#each favourites}}
Here are your favourites:
      <div class="infobox" style="border: 1px solid black">
        <p><img class="productPicture2" src="{{this.photo}}" alt=""></p>
      </div>
      {{/each}}