
    <nav>
        <a href="/">Home</a>
        <a href="/market">Market</a>
        <a href="/about-us">About Us</a>
        <a href="/login">Log In</a>
        <a href="/signup">Sign Up</a>
    </nav>

    <h1>Mexico</h1>

    <img src="/images/woman_chiapas.jpg" alt="Woman Chiapas" height="250px" width="350px">


