<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/product-vendor.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <script type="module" src="./../app.js"></script>

    <title>ARTéTIC</title>
</head>
<body>
    <nav class="fullnav">
        <div class="nav1">
                 <a class="nav-left" href="/"><img class="logo" src="/images/logoArtetic.png" alt="website logo"></a>
                 <div class="search">
                     <form action="/">
                        <input id="searchbar" onkeyup="searchBar" type="text" name="searchbar" class="searchTerm" placeholder="What are you looking for?">
                        <button type="submit" class="searchButton">
                        <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
              {{#unless currentUser}}         
                <a class="buttoNav login" href="/login">Log In</a>
                <a class="buttoNav signup" href="/signup">Sign Up</a>
              {{else}}
                <a class="vendorProfile" href="/dashboard">My vendor profile</a>
                <a class="vendorProfile" href="/favourites">My favourites</a>
                <a class="vendorProfile" href="/logout">Sign out</a>
              {{/unless}}
            </div>  
        </div>
    </nav>


<div class="nav2">
    <br>
    <nav>
        <a href="/home-living">Home & Living</a>
        <a href="/personalcare">Personal Care</a>
        <a href="/clothing-shoes">Clothing & Shoes</a>
        <a href="/accessories">Accessories</a>
        <a href="/food-beverages">Food & Beverages</a>
    </nav>
    <br>
</div>


    {{{body}}}

<br>
<hr>
<br>
</body>

    <footer class="footer">
        <nav>
        <a href="/about-us">About Us</a>
        <a href="/faq">FAQ</a>
        <a href="/contact">Contact Us</a>
        </nav>
    </footer>

</html>