<section>
  <header>
    <h1>Welcome Back!</h1>
    <h1>New products are uploaded everyday! Login to check what is new!</h1>
  </header>
  {{#if msg}}
  <p class="message {{msg.status}}">{{msg.text}}</p>
  {{/if}}
  <form method="post" action="/login" class="form">
    <div class="field-wrap">
      <label for="email">Email</label>
      <input id="email" type="email" placeholder="email@gmail.com" required name="email">
    </div>
    <div class="field-wrap">
      <label for="password">Password</label>
      <input id="password" type="password" placeholder="••••••" required name="password">
    </div>

          <button type="submit" class="button button-block"/>Login</button>
  </form>

<hr>

  <h1>Don't have an account yet?  <a href="/signup" class="button-link-form">Sign Up</a></h1>
</section>