.flash-msg-container {
  display: flex;
  justify-content: center;
}

.flash-msg {
  padding: 15px;
  border-radius: 20px;
  margin-top: 20px;
}

.flash-msg.success {
  color: green;
  border: 2px solid green;
}

.flash-msg.warning {
  color: orange;
  border: 2px solid orange;
}

.flash-msg.error {
  color: red;
  border: 2px solid red;
}