@import url(https://fonts.googleapis.com/css?family=Open+Sans); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); */

.nav1 {
    display: flex;
    flex-direction: row;
    background-color: #8BD7FF;
}
.nav2 a,.nav1 a{
  text-decoration:none;
  color:black;
}
.nav2 a {
  text-decoration:none;
}

.nav2 {
    background-color: #BFE8F2;
}

.nav-left {
    margin-left: 5px;
}

.nav-right1 {
    margin-right: 5px;
}

.nav-right2 {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}


.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    background-color: #F1ED63;
    margin-bottom: 0px;
}

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
  background-color: #8BD7FF;
}

.searchTerm {
  width: 50%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.logo{
  width: 60px;
  height: 60px;
}
.infobox{
  background: rgb(0,180,204);
  background: linear-gradient(90deg, rgba(0,180,204,1) 7%, rgba(0,212,255,1) 100%);
}