/*FULL DOCUMENT STYLING*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #f2f2f2;
  font-family: "Open Sans", sans-serif;
}

/*NAV BAR STYLING*/

.fullnav{
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index:1000;
}
.nav1 {
  height:20vh;
  background-color: #8bd7ff;
  font-size: 20px;
}
.nav2 {
  height: 10vh;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bfe8f2;
}
.logo {
  width: 80x;
  height: 80px;
}
.nav2 a,
.nav1 a {
  text-decoration: none;
  color: black;
}
.nav2 a {
  margin: 15px;
}
.nav-left {
  margin-left: 5px;
}

.buttoNav {
  background-color: #f1ed63;
  padding: 5px 15px;
  border-radius: 35%;
  float:left;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
  background-color: #8bd7ff;
}

.searchTerm {
  width: 50%;
  border: 3px solid #f1ed63;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #f1ed63;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #f1ed63;
  background: #f1ed63;
  text-align: center;
  color: black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
/* IF LOGGED IN YOU SEE THIS IN NAVBAR */
.vendorProfile {
  background-color: #f1ed63;
  padding: 5px 15px;
  border-radius: 40%;
}

/*MAIN PAGE STYLING*/

.fullscreen {
  width: 100%;
  height: 35vh;
  color: white;
  padding: 40vh;
}

.b {
  background: url('/images/woman_chiapas.jpg') center/cover;
}

.introInsert{
  background-color: white;
  border-radius: 25%;
  color: black;
  height: 36vh;
  width:32vh;
  font-size: 12px;
  text-align: center;
  margin-left: 300px;

}

/*VENDOR DETAILS STYLING*/
.infobox {
  background: linear-gradient(
    90deg,
    rgb(118, 215, 228) 7%,
    rgba(0, 212, 255, 1) 100%
  );
}
/* PRODUCT DETAILS PAGE */
.hidden{
  display: none;
}

/* LOGIN SIGN UP */

.form {
  background:rgba(#13232f,.9);
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  border-radius: 4px;
  box-shadow: 4px 10px 4px;
}

h1 {
  text-align:center;
  color: #FA9657;
  font-weight: 300;
  margin:0 0 40px;
}

label {
  position:absolute;
  transform:translateY(6px);
  right: 0%;
  color:rgba(white,.5);
  transition:all 0.25s ease;
  pointer-events: none;
  font-size:22px;
}
 
label.active {
  transform:translateY(50px);
  left:2px;
  font-size:14px;
}


label.highlight {
  color:#FA9657;
}

input, textarea {
  font-size:22px;
  display:block;
  width: 100%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:1px solid #a0b3b0;
  color:#FA9657;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
}

input:focus, textarea:focus {
    outline:0;
    border-color:#FA9657;
  }


textarea {
  border:2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position:relative;
  margin-bottom:40px;
}

.top-row:after {
    content: "";
    display: table;
    clear: both;
  }

.button {
  border:0;
  outline:none;
  border-radius:0;
  padding:15px 0;
  font-size:2rem;
  font-weight: 600;
  text-transform:uppercase;
  letter-spacing: .1em;
  background: #F1ED63;
  color: white;
}

  .button:hover {
    cursor: pointer;
  }

.button-block {
  display:block;
  width:50%;
}
  
/*FOOTER STYLING*/

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #bfe8f2;
  height: 10vh;
  margin-bottom: 0px;
}

.footer a{
  margin: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-right: 40px;
}
