/*FULL DOCUMENT STYLING*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Roboto:wght@300&display=swap');
* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #f2f2f2;
  font-family: "Open Sans", sans-serif;
}

/*NAV BAR STYLING*/

.fullnav {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 1000;
}

.logo {
  width: 80x;
  height: 80px;
  margin-left: 15px;
}

.leftside {
  margin-left: 15px;
}

.nav-left {
  margin-left: 5px;
}

.nav1 {
  height: 20vh;
  background-color: #e9d5fd;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav2 a,
.nav1 a {
  text-decoration: none;
  color: black;
}

.nav2 {
  height: 10vh;
  font-size:24px;
  font-weight: bolder;
  font-family: 'Pattaya', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0cc96;
}

.nav2 a {
  margin: 15px;
}

.nav2 a:hover {
  color: #fa9657;
}

.search {
  width: 100%;
  position: relative;
}

.searchTerm {
  width: 39%;
  border: 3px solid #f1ed63;
  padding: 15px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  font-family: "Open Sans", sans-serif;
  font-style: oblique;
  color: #9dbfaf;
  font-size: 18px;
  background-color: #f1ec635d;
}

.searchTerm:focus {
  color: black;
}

.flex-test {
  display: flex;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #f1ed63;
  background: #f1ed63;
  color: black;
  cursor: pointer;
  font-size: 20px;
}

.buttoNav {
  background-color: #f1ed63;
  padding: 5px 15px;
  border-radius: 40%;
  text-align: center;
  margin-right: 25px;
  width: 200px;
  font-size: 14px;
}

/* IF LOGGED IN YOU SEE THIS IN NAVBAR */

/*MAIN PAGE STYLING*/

/*JUMBOTRON*/

.fullscreen {
  width: 100%;
  height: 35vh;
  color: white;
  padding: 40vh;
}
.b {
  background: url("/images/woman_chiapas.jpg") center/cover;
}
.titleMain {
  font-weight: bold;
  font-size: 22px;
  color: black;
  font-family: "Open Sans",sans-serif;
}

.signup {
  background: rgb(241, 241, 74);
  background: linear-gradient(
    351deg,
    rgba(241, 241, 74, 0.7) 17%,
    rgba(251, 255, 51, 1) 49%
  );
  padding: 5px 25px;
  border-radius: 35%;
  text-align: center;
  width: 200px;
  height: auto;
  padding: left;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  font-family: "Pattaya", sans-serif;
}
.introInsert {
  position: relative;
  bottom: 170px;
  left: 480px;
  background: rgb(255, 245, 207);
  background: linear-gradient(
    317deg,
    rgba(255, 245, 207, 0.3) 30%,
    rgba(255, 207, 138, 0.7) 59%,
    rgba(255, 247, 214, 0.3) 80%
  );
  /* background: rgb(251,240,236);
background: linear-gradient(317deg, rgba(251, 244, 236, 0.3) 7%, rgba(255, 211, 161, 0.5) 47%, rgba(251,240,236,0.3) 100%);   */
  border-radius: 25%;
  color: black;
  height: 290px;
  width: 50vh;
  padding: 50px 0;
  text-align: center;
  font-size: 12px;
}

/*HOME PAGE PRODUCTS GALLERY*/

.container ul{
  text-decoration: none;
  list-style: none;
  text-align: center;
  margin:auto;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;

  max-width: 1200px;
  margin:auto;
  margin-bottom: 3rem;
  margin-top: 20px;

  height: 400px;
  width: 300px;
  padding: 20px;

  border-radius: 30px;
  background: rgb(170,74,241);
  background: linear-gradient(351deg, rgba(170,74,241,1) 17%, rgba(225,197,245,0.8169642857142857) 73%);
}

.container li{
  padding-bottom:5px;
  font-weight: bold;
  color:black;
}

.productPicture2 {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 30px;
  margin-left: 10px;
}
.seeDetails {
  position:relative;
  top: 15px;
  border: 0;
  outline: none;
  border-radius: 30px;
  padding: 10px;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.1em;
  background: #f1ed63;
  color: #fa9657;
  height: 50px;
  text-decoration: none;
}

.seeDetails2 {
  border: 0;
  outline: none;
  border-radius: 30px;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  background: #f1ed63;
  color: #fa9657;
  height: 50px;
  text-decoration: none;
  position:relative;
  bottom:18px;
}

/*VENDOR DETAILS STYLING*/
.infobox {
  background: linear-gradient(
    90deg,
    rgb(118, 215, 228) 7%,
    rgba(0, 212, 255, 1) 100%
  );
}
/* PRODUCT DETAILS PAGE */
.hidden {
  display: none;
}


/*FAVOURITES PAGE ADDITIONAL STYLING*/

.container li{
  list-style: none;
}
.small{
width:100px;
height:auto;
margin:auto;
}

/* LOGIN SIGN UP */

.form {
  background: rgba(#13232f, 0.9);
  padding: 40px;
  max-width: 800px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 4px 10px 4px;
}

h1 {
  text-align: center;
  color: #fa9657;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  transform: translateY(6px);
  right: 1%;
  color: rgba(white, 0.5);
  transition: all 0.25s ease;
  pointer-events: none;
  font-size: 22px;
}

label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}

label.highlight {
  color: #fa9657;
}

input,
textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #fa9657;
  border-radius: 0;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}

input:focus,
textarea:focus {
  outline: 0;
  border-color: #fa9657;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #f1ed63;
  color: white;
  display: flex;
  margin-left: 180px;
}

.button:hover {
  cursor: pointer;
}

.button-block {
  display: block;
  width: 50%;
}

/* ABOUT US */

.aUsContainer {
  display: flex;
  justify-content: space-evenly;
}

.aUsText {
  height: 450px;
  width: 50%;
  margin-top: 80px;
}

.aUsText2 {
  height: 450px;
  width: 50%;
  margin-top: 20px;
}

.aUsPic1 {
  width: 350px;
  height: 450px;
  border-radius: 20px;
  object-fit: cover;
  margin-left: 10px;
}

.aUsPic2 {
  width: 350px;
  height: 450px;
  border-radius: 20px;
  object-fit: cover;
  margin-left: 10px;
}

.aUsPic3 {
  width: 450px;
  height: 450px;
  border-radius: 20px;
  object-fit: cover;
  margin-left: 10px;
}

/*FOOTER STYLING*/

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #bfe8f2;
  height: 10vh;
  margin-bottom: 0px;
}

.footer a {
  margin: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-right: 40px;
}

#category {
  font-size: 20px;
}
